
// 1. Add border box sizing in all browsers (opinionated)
// 2. Backgrounds do not repeat by default (opinionated)
*,
*::before,
*::after {
  box-sizing: border-box; // 1
  background-repeat: no-repeat; // 2
}

// 1. Add text decoration inheritance in all browsers (opinionated)
// 2. Add vertical alignment inheritance in all browsers (opinionated)
::before,
::after {
  text-decoration: inherit; // 1
  vertical-align: inherit; // 2
}

// 1. Use the default cursor in all browsers (opinionated)
// 2. Change the line height in all browsers (opinionated)
// 3. Breaks words to prevent overflow in all browsers (opinionated)
// 4. Use a 4-space tab width in all browsers (opinionated)
// 5. Remove the grey highlight on links in iOS (opinionated)
// 6. Prevent adjustments of font size after orientation changes in iOS
:where(:root) {
  -webkit-tap-highlight-color: transparent; // 5
  -webkit-text-size-adjust: 100%; // 6
  text-size-adjust: 100%; // 6
  background-color: var(#{$css-var-prefix}background-color);
  color: var(#{$css-var-prefix}color);
  font-weight: var(#{$css-var-prefix}font-weight);
  font-size: var(#{$css-var-prefix}font-size);
  line-height: var(#{$css-var-prefix}line-height); // 2
  font-family: var(#{$css-var-prefix}font-primary);
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word; // 3
  cursor: default; // 1
  tab-size: 4; // 4
}

.container {
  max-width: var(#{$css-var-prefix}container-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(#{$css-var-prefix}spacing);
  padding-left: var(#{$css-var-prefix}spacing);
}

.grid {
  grid-column-gap: var(#{$css-var-prefix}grid-spacing-horizontal);
  grid-row-gap: var(#{$css-var-prefix}grid-spacing-vertical);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;

  // equal width columns on screens > 768px
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }

  & > * {
    min-width: 0; // HACK for childs in overflow
  }
}

body {
  width: 100%;
  margin: 0;

  > header,
  > main,
  > footer {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: var(#{$css-var-prefix}block-spacing-vertical) 0;
  }
}

section {
  margin-bottom: var(#{$css-var-prefix}block-spacing-vertical);
}

// 1. Remove the border on images inside links in IE 10.
// 2. Responsive by default
img {
  max-width: 100%; // 2
  height: auto; // 2
  border-style: none; // 1
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  overflow-x: auto;

  figcaption {
    padding: calc(var(#{$css-var-prefix}spacing) * 0.5) 0;
    color: var(#{$css-var-prefix}muted-color);
  }
}
