@charset "utf-8";

$primary: #1778BC;
$body-size: 18px;

@import "bulma/bulma.sass";

@import "structure.scss";
@import "navbar.scss";
@import "post.scss";
@import "contact.scss";

.post-list{
    li {
        time {
            display: inline-block;
            min-width: 5.5rem;
            margin-right: 1em;
        }
    }
}

.is-meta {
    font-size: .89em !important;
    vertical-align: text-bottom;
    color: $grey;
}
