
html.has-navbar-fixed-top, body.has-navbar-fixed-top {
    padding-top: 2.75rem;
    @media only screen and (max-width: 1024px) {
        padding-top: 2.25rem;
    }
}

.navbar.is-primary {

    padding: 0.5rem 0;

    .navbar-brand {
        .navbar-item {
            img {
                max-height: initial;
            }
            .title {
                color: #ffffff;
            }
        }
        a.navbar-item:hover {
            background-color: transparent;
        }
    }

    .navbar-start {

        align-items: center;

        .navbar-item {
            border-radius: 10px;
            margin-left: 0.5rem;
        }

    }

    .navbar-end {

        align-items: center;

        .navbar-item {
            border-radius: 10px;
            i {
                font-size: 1.5em;
            }
            span {
                vertical-align: text-bottom;
                margin-left: 0.5em;
            }
        }

    }

}
