
article.post {

    h1.title {
        margin-bottom: 1rem;
    }

    .meta  {

        margin-bottom: 1.5rem;

        time {
            margin-right: 1rem;
        }
        .icon {
            font-size: 0.89rem;
        }
        .button {
            height: 2em;
        }
    }

}
