<!doctype html>
<html lang="en" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <header>
      <div class="container">
        {{ partial "navbar.html" . }}
      </div>
    </header>
    {{ block "main" . }}
    <main role="main" class="container">
    </main>
    {{ end }}
    <footer>
      <div class="container">
        Made with <i class="fas fa-heart"></i> by Simon<br>
        <a class="license" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
          <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/88x31.png">
        </a>
      </div>
    </footer>

    <script src="https://beamanalytics.b-cdn.net/beam.min.js" data-token="b06b9c98-e927-4b4e-b645-5443fbe8c00d" async></script>

  </body>
</html>
