
{{ define "main" }}
<article class="post">

  <h1 class="title">{{ .Title }}</h1>

  <div class="meta">
    {{ $dateTime := .PublishDate.Format "2006-01-02" }}
    {{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
    <time class="is-meta" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
    {{ with .Params.tags }}
      <span class="icon" title="tags">
        <i class="fas fa-tags"></i>
      </span>
      {{ range . }}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="tag is-link is-light" href="{{ $href }}">{{ . }}</a>
      {{ end }}
    {{ end }}
  </div>

  {{ .Content }}

</article>
{{ end }}
