<nav>
  <ul>
    <li>
      <img class="avatar" src="/img/profile.png">
    </li>
    <li>
      <a href="/"><strong>Simon Downes</strong></a>
    </li>
  </ul>
  <ul class="social">
    <li>
      <a href="https://github.com/simon-downes/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/simon-downes/" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
</nav>

<nav>
  <ul>
    <li>
      <a href="/notes/">Notes</a>
    </li>
    <li>
      <a href="/thoughts/">Thoughts</a>
    </li>
    <li>
      <a href="/articles/">Articles</a>
    </li>
    <li>
      <a href="/about/">About</a>
    </li>
    <li>
      <a href="/now/">Now</a>
    </li>
  </ul>
</nav>
