{{ define "hero" }}
<section class="hero is-primary is-medium">
  <div class="hero-head">

  </div>
  <div class="hero-body">
      <div class="container">
          <h1 class="title">
            Hi, I'm Simon,<br> a DevOps and Cloud Engineer<br>from Sussex, UK
          </h1>
          <h2 class="subtitle">{{ .Site.Params.homeText | markdownify }}</h2>
      </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
    <section class="content">

      <h1 class="title">Posts</h1>

      <ul class="post-list">

        {{ range where .Site.RegularPages.ByPublishDate.Reverse "Type" "posts" }}
        {{ partial "post-list-item.html" . }}
        {{ end }}
      </ul>

  </section>

{{ end }}
